<h1>Form for Landmarks</h1>

<form>
    <form method="POST" action="/landmarks">
    <input type="text" id="landmark[name]" name="Landmark Name"><%=@figures.name%>
    name
    <input type="text" id="figure[title_ids]" name="Title Ids"><%=@figures.title_ids%>


    <input type="submit" value="Create">

</form>