<h1>Form for Landmarks</h1>

<form>
    <form method="POST" action="/landmarks">
    Landmark Name<input type="text" id="landmark_name" name="landmark[name]">
    
    Year Completed<input type="text" id="landmark_year_completed" name="landmark[year_completed]">


    <input type="submit" value="Create New Landmark">

</form>